name: Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+-[a-z]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-[a-z]+"
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    name: Build
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build package
        run: uv build .

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.os }}-${{ matrix.python-version }}
          path: dist/

  publish:
    name: Publish to PyPI
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Move artifacts into dist/
        run: |
          mkdir -p flat_dist
          find dist -type f -name "*.whl" -exec cp {} flat_dist/ \;
          find dist -type f -name "*.tar.gz" -exec cp {} flat_dist/ \;
          rm -rf dist
          ls flat_dist
          mv flat_dist dist
          ls dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
