/**
* COMMON
**/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212121;
    padding: 0;
    margin: 0;
}

body {
    padding: 2.5rem 0;
    background-color: #E5E5E5;
}

.slide {
    position: relative;
    margin: 0 auto 5rem auto;
    width: 90rem;
    min-height: 64rem;
    background-color: #FFFFFF;
    page-break-after: always;
}

.content-slide {
    padding: 2rem 3.25rem 0 3.25rem;
}

.slide-content {
    padding-bottom: 0.25rem;
}

.slide-content>h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #212121;
    padding-bottom: 0.938rem;
}

.slide-content>h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #606A73;
    padding-bottom: 1.438rem;
}

.slide-content .widget-title {
    font-size: 1.125rem;
    color: #606A73;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.slide>.slide-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 3.25rem;
}

.slide-footer .branding {
    margin-right: 1.866rem;
    width: 4.125rem;
    height: auto;
}

.slide-footer>.copyrights {
    margin-right: 1rem;
}

.slide-footer>.report-name {
    margin-right: 11.563rem;
}

.slide-footer>.separator {
    margin: 0 1rem;
}

.slide-footer p {
    font-size: 0.75rem;
    color: #606A73;
}

.custom-breadcrumbs {
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    color: #606A73;
    padding-bottom: 1rem;
}

.breadcrumb-separator {
    padding-left: 1.286rem;
    padding-right: 0.786rem;
}

.active-breadcrumb {
    color: #212121;
    font-weight: 700;
}

.severity-tag {
    background-color: #CBD6E0;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
    border-radius: 0.125rem;
}

.tags-list>p {
    margin-right: 0.375rem;
    margin-bottom: 0.375rem;
}

.critical-shade {
    background-color: #FFD2CB;
    color: #910A15;
}

.major-shade {
    background-color: #FFEAC9;
    color: #AA4C00;
}

.minor-shade {
    background-color: #FDE39B;
    color: #875A0B;
}

.critical-bg {
    background-color: #DF2427;
}

.major-bg {
    background-color: #E67E22;
}

.minor-bg {
    background-color: #FAC73A;
}

th {
    font-size: 0.875rem;
    padding: 0.875rem 0 !important;
    border-bottom: 0.063rem solid #606A73 !important;
}

td {
    padding: 1.688rem 0 !important;
    border-bottom: 0.063rem solid #CBD6E0 !important;
}

tbody>tr:last-child>td {
    border-bottom: 0 !important;
}

.legend-container {
    margin-right: 1.699rem;
}

.legend-square {
    width: 1rem;
    height: 1rem;
    border-radius: 0.125rem;
    margin-right: 0.313rem;
}

table .severity-tag {
    width: fit-content;
}

table .progress {
    width: 5.625rem;
}

table {
    margin: 0 !important;
}

td > .progress {
    margin-top: 0.275rem;
}

/**
* INTRO SLIDE
**/
.intro-slide {
    padding-left: 5.852rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../assets/images/bg.png") center center / cover no-repeat;
}

.intro-slide>.branding {
    padding-top: 10rem;
    width: 8.75rem;
    height: auto;
}

.intro-slide>.intro-footer {
    font-size: 1.5rem;
    padding-bottom: 4.875rem;
    font-weight: 400;
}

.intro-footer p {
    color: #FFFFFF;
}

.intro-slide .intro-divider {
    background-color: #285AE6;
    width: 11.063rem;
    height: 0.5rem;
    margin: 1.25rem 0;
}

.intro-title>h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #FFFFFF;
}

.intro-title>h3 {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 400;
}

.intro-title>h6 {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 800;
}

/**
* TITLE SLIDE
**/
.title-slide {
    padding-left: 5.852rem;
    display: flex;
    flex-direction: column;
    background: url("../assets/images/bg.png") center center / cover no-repeat;
    justify-content: space-around;
}

.opening-title>h1 {
    font-size: 4.5rem;
    color: #FFFFFF;
    font-weight: 800;
}

.opening-title>h3 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 400;
}

.title-footer {
    color: #FFFFFF;
    font-size: 1.5rem;
}

.title-footer>p {
    color: #FFFFFF;
    font-weight: 800;
}

/**
* TABLE OF CONTENTS
**/
.table-slide {
    padding: 3.438rem 0 0 5.75rem;
}

.table-slide>.title {
    display: flex;
    align-items: center;
    padding-bottom: 5.438rem;
}

.table-slide h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

.table-slide .block {
    height: 4.625rem;
    width: 1.5rem;
    background-color: #285AE6;
    margin-right: 0.938rem;
}

.table-slide>.table-link {
    display: block;
    color: #212121;
    font-size: 1.5rem;
    padding-bottom: 3.75rem;
}

/**
* INPUT FILE DETAILS
**/
.input-file-details .statistics {
    padding-bottom: 2.125rem;
}

.input-file-details .row {
    margin: 0;
}

.input-file-details .col-3 {
    margin: 0;
    padding: 0;
}

.input-file-details .col-4 {
    margin: 0;
    padding: 0;
}

.input-file-details .statistic-col {
    border: 0.063rem solid #CBD6E0;
    border-radius: 0.5rem;
    min-height: 6.875rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.statistic-col>.icon-container {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #F0F6FF;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #606A73;
    margin-right: 1rem;
}

.statistic-col .stat-label {
    color: #212121;
    font-size: 0.875rem;
    font-weight: 400;
}

.statistic-col .stat-metric {
    color: #212121;
    font-size: 2rem;
    font-weight: 800;
}

.input-file-details .distribution-col {
    border: 0.063rem solid #CBD6E0;
    border-radius: 0.5rem;
    min-height: 36.688rem;
    margin-right: 1.5rem;
    padding: 1.5rem;
}

.distribution-col>.distribution-category {
    color: #212121;
    font-size: 0.875rem;
}

/**
* OVERALL DESIGN ISSUES
**/
.overall-design-issues .issues-overview-col {
    border: 0.063rem solid #CBD6E0;
    border-radius: 0.5rem;
    min-height: 43.25rem;
    margin-right: 2.125;
    padding: 1.5rem;
}

.overall-design-issues .issues-label {
    font-size: 0.875rem;
    font-weight: 400;
}

.issues-overview-col .issues-metric {
    font-size: 2rem;
    font-weight: 800;
}

.issues-metric .percentage {
    color: #606A73;
    font-size: 1rem;
    font-weight: 600;
}

.issues-overview-col>.row {
    margin-bottom: 3.563rem;
}

.distribution-by-severity {
    margin-top: 1.188rem;
    margin-bottom: 4.125rem;
}

.distribution-by-severity>.row {
    margin-bottom: 0.875rem;
}

.distribution-by-severity .col-2 {
    margin: auto;
}

.distribution-by-severity .col-8 {
    margin: auto;
}

.distribution-by-severity .severity-value {
    font-size: 0.875rem;
    color: #606A73;
}

.overall-design-issues .issues-categories-col {
    border: 0.063rem solid #CBD6E0;
    border-radius: 0.5rem;
    min-height: 43.25rem;
    margin-right: 2.125;
    padding: 1.5rem;
}

.frequent-violations {
    margin-top: 1rem;
}

.frequent-violations>.violation {
    background-color: #F2F6FB;
    padding: 1.75rem 1rem;
    border-radius: 0.5rem;
    display: flex;
}

.violation:not(:last-child) {
    margin-bottom: 1.563rem;
}

.violation .violation-metric {
    color: #606A73;
    font-size: 0.875rem;
    padding-top: 0.5rem;
}

.violation-donut-container {
    position: relative;
}

.violation-donut-container>.violation-donut-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #606A73;
    font-size: 0.875rem;
    font-weight: 600;
}

.issues-categories-col table {
    margin-top: 3.688rem;
    margin-bottom: 3.224rem;
}

.issues-categories-col td:first-child {
    font-size: 0.875rem;
}

.issues-categories-col td:nth-child(2) {
    font-size: 1.125rem;
}

/**
* ISSUE CATEGORIES DETAILS
**/
.issue-categories-details .table-tile {
    border-radius: 0.75rem;
    border: 0.063rem solid #CBD6E0;
}

.issue-categories-details .table-heading {
    font-size: 1.125rem;
    font-weight: 500;
    padding: 1.5rem;
    background-color: #E5EBF2;
}

.issue-categories-details td {
    padding-right: 0.5rem !important;
}

.issue-categories-details .table-tile {
    margin-bottom: 3.438rem;
}

.issue-categories-details .table-container {
    padding: 1.563rem 1.563rem 0 1.563rem;
}

.issue-categories-details th:first-child {
    width: 30% !important;
}

.issue-categories-details td:first-child {
    width: 30% !important;
    font-size: 0.875rem;
}

.issue-categories-details th:nth-child(2) {
    width: 9% !important;
}

.issue-categories-details td:nth-child(2) {
    width: 9% !important;
    font-size: 1.125rem;
}

.issue-categories-details th:nth-child(3) {
    width: 19% !important;
}

.issue-categories-details td:nth-child(3) {
    width: 19% !important;
}

.issue-categories-details th:nth-child(4) {
    width: 25% !important;
}

.issue-categories-details td:nth-child(4) {
    width: 25% !important;
}

.issue-categories-details th:nth-child(5) {
    width: 17% !important;
}

.issue-categories-details td:nth-child(5) {
    width: 17% !important;
}

.issue-categories-details .issue-category-desc {
    font-size: 0.625rem;
    color: #606A73;
}

.issue-categories-details .filename-text {
    font-size: 0.75rem;
    color: #606A73;
}

.issue-categories-details .kudos-banner {
    font-size: 0.875rem;
    padding: 0.375rem;
    background-color: #E6F5F0;
    width: fit-content;
    border-radius: 0.25rem;
    border-left: #104C38 0.375rem solid;
    color: #104C38;
}

/**
* VIOLATION DETAILS
**/
.violation-details .slide-content {
    padding-bottom: 3rem;
}

.violation-details .issues-container {
    border-radius: 0.75rem;
    border: 0.063rem solid #CBD6E0;
}

.violation-details .issues-container:not(:last-child) {
    margin-bottom: 3.625rem;
}

.issues-container>h2 {
    padding: 1.563rem;
    font-size: 2rem;
    font-weight: 400;
}

.violation-details .issues-list {
    margin: 0 0 1rem 0;
    padding: 3rem 2rem;
}

.violation-details .critical-issues-list {
    border-left: 0.5rem solid #FF5C5E;
}

.violation-details .major-issues-list {
    border-left: 0.5rem solid #FF9F06;
}

.violation-details .minor-issues-list {
    border-left: 0.5rem solid #FEC629;
}

.violation-details .issue-divider {
    width: 100%;
    height: 0.063rem;
    background-color: #CBD6E0;
    margin-top: 2.438rem;
    margin-bottom: 3rem;
}

.violation-details .violation-label-metric-container {
    margin-bottom: 2.75rem;
}

.violation-details .violation-label {
    font-size: 0.875rem;
    color: #606A73;
}

.violation-details .violation-desc {
    font-size: 1rem;
    margin-top: 0.375rem;
}

.violation-details .violation-metric {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 0.375rem;
}

/**
* OUTRO SLIDE
**/
.outro-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url("../assets/images/bg.png") center center / cover no-repeat;
}

.outro-slide p {
    color: #FFFFFF;
}

.outro-slide .outro-branding {
    width: 10rem;
    height: auto;
}

.outro-slide .tagline {
    font-size: 2rem;
    font-weight: 300;
}

.outro-slide a {
    color: #FFFFFF;
    text-decoration: underline;
}