/* disable fancy scrolling behavior, which takes too long and is too jarring for large pages (eg appendix)
   https://github.com/pradyunsg/furo/discussions/384#discussioncomment-2249243 */
html {
    scroll-behavior: auto;
}

/* hide right side sidebar entries below a certain depth. This is for the "API Reference" page, which includes
   every attribute on the sidebar. So not only is ProfilePage included but also ProfilePage.BEATMAPS,
   ProfilePage.HISTORICAL, etc. It's too much clutter for anybody to read. */
.toc-tree-container > .toc-tree > ul ul ul ul {
    display: none;
}
